# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zhofaxmmywbjbofetfla.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_nXBXoCbxoyDzgVDeBAUw6g_QSb5cRxX
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# HuggingFace Configuration
HF_API_KEY=your-huggingface-api-key

# GitHub Configuration
GITHUB_TOKEN=your-github-token
